<%= javascript_include_tag 'geo' %>

<%= form_for(@lugar) do |f| %>
	<div class="field">
		<label>Ubicación</label><br />
		<div class="guess-location radio-5">
			<span class="titulo">Selecciona su ubicación haciendo click en el mapa</span><br/><br/>
			<span>Usar mí ubicación actual<span class="determinator"><%= link_to 'Determinar', '#', :class => 'pregunta-pos boton amarillo' %></span></span>
		</div>
		<div id="mapa-editable"><p></p></div>
	</div>
	
	
	<%= hidden_field_tag 'coordenadas[lat]', @lugar.coordenadas.nil? ? "" : @lugar.coordenadas.lat %>
	<%= hidden_field_tag 'coordenadas[lon]', @lugar.coordenadas.nil? ? "" : @lugar.coordenadas.lon %>

  
	<div class="content on-2 columns">
		<div class="column field elastic">
	    <%= f.label :nombre %><br />
	    <%= f.text_field :nombre, :size => 35 %>
	  </div>
  	<div class="column field elastic">
    	<%= f.label :twitter %><br />
    	<%= f.text_field :twitter %>
  	</div>
	</div>

  <div class="field">
    <%= f.label :detalles %>&nbsp;&nbsp;(<span id="charCount"></span>)<br />
    <%= f.text_area :detalles, :rows => 7, :cols => 84, :class=> 'charcounter-250' %>
  </div>

	<div class="content on-2 columns">
		<div class="column field">
    	<%= f.label :facebook %><br />
    	<%= f.text_field :facebook %>
  	</div>

	  <div class="column field">
	    <%= f.label :sitio_web %><br />
	    <%= f.text_field :sitio_web %>
	  </div>
	</div>

  
	<div class="field">
    <%= f.label :tags, 'Palabras Clave' %>
    <%= f.text_field :tags_lista, "data-pre" => @lugar.tags.map(&:expone_atributos).to_json %>    
	</div>
	
  <div class="form-actions">
		<span><%= link_to 'Cancelar', url, :class => 'boton sobrio' %>
		<%= f.submit verbo_boton_aceptar, :class => 'as-link boton largo azul' %></span>
  </div>
<% end %>
