<%= javascript_include_tag 'geo' %>

<%= form_for(@lugar) do |f| %>
  <% if @lugar.errors.any? %>
    <div id="error_explanation">
      <h2>Wikicleta no pudo registrar este lugar debido a:</h2>

      <ul>
      <% @lugar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<div id="mapa-editable"><p></p></div>
	
	<%= hidden_field_tag 'coordenadas[lat]', @lugar.coordenadas.nil? ? "" : @lugar.coordenadas.lat %>
	<%= hidden_field_tag 'coordenadas[lon]', @lugar.coordenadas.nil? ? "" : @lugar.coordenadas.lon %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, :size => "12" %>
  </div>
  <div class="field">
    <%= f.label :detalles %>(<span id="charCount"></span>)<br />
    <%= f.text_area :detalles, :class=> 'charcounter-250' %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br />
    <%= f.text_field :twitter %>
  </div>
  <div class="field">
    <%= f.label :facebook %><br />
    <%= f.text_field :facebook %>
  </div>
  <div class="field">
    <%= f.label :sitio_web %><br />
    <%= f.text_field :sitio_web %>
  </div>
  
	<div class="field">
    <%= f.label :tags, 'Palabras Clave' %>
    <%= f.text_field :tags_lista, "data-pre" => @lugar.tags.map(&:expone_atributos).to_json %>    
	</div>

  <div class="actions">
    <%= f.submit 'Publicar' %>
		<%= link_to 'Cancelar', url %>
  </div>
<% end %>
