<%= content_for :messages_and_alerts do %>
	<% unless notice.blank? %>
		<p class="notice"><%= notice %></p>
	<% end %>
	<% unless alert.blank? %>
		<p class="alert"><%= alert %></p>
	<% end %>
<% end %>

<h1><%= @lugar.nombre %></h1>

<div class="tags radio-5">
	<% @lugar.tags.each do |tag| %>
		<span class="radio-5"><%= tag.contenido %></span>
	<% end %>
</div>

<div class="bubble radio-7-top">
	<%= render 'basic_details' %>
</div>
<div class="bubble-base">
	<%= link_to 'Descripción', '#' , :class => "radio-5" %>
	<%= link_to 'Fotos', '#' , :class => "radio-5" %>
	<%= link_to 'Comentarios', '#' , :class => "radio-5" %>
</div>

<% content_for :acciones do %>
	<%= link_to 'Atrás', lugares_path, :class => "boton azul" %>
	<%= link_to 'Modificar', edit_lugar_path(@lugar), :class => "boton sobrio" %>
	<%= link_to 'Eliminar', confirm_destroy_lugar_path(@lugar), :class => "boton rojo" %>
<% end %>
