<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @lugar.string %>
</p>

<p>
  <b>Text:</b>
  <%= @lugar.text %>
</p>

<p>
  <b>String:</b>
  <%= @lugar.string %>
</p>

<p>
  <b>String:</b>
  <%= @lugar.string %>
</p>

<p>
  <b>Integer:</b>
  <%= @lugar.integer %>
</p>

<p>
  <b>Integer:</b>
  <%= @lugar.integer %>
</p>

<p>
  <b>String:</b>
  <%= @lugar.string %>
</p>

<p>
  <b>String:</b>
  <%= @lugar.string %>
</p>


<%= link_to 'Edit', edit_lugar_path(@lugar) %> |
<%= link_to 'Back', lugares_path %>
